

header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

title {
    display: inline-block
}

textarea {
    height: 150px;
    width: 100%;
}

#input {
    min-height: 240px;
    overflow: auto;
    resize: vertical;
}

#output {
    height: 210px;
    overflow: auto;
}

.turtle-inventory {
    width: 216px;
    margin: 5px;
}

.inventory-slot {
    padding: 2px;
    border: 3px solid #e0e0e0;
    display: inline-block;
    background-color: #c6c6c6;
    width: 54px;
}

.inventory-slot-image {
    margin: auto;
    width: 32px;
    height: 32px;
}

.inventory-slot-count {
    font-family: monospace;
    font-size: 18px !important;
    height: 22px !important;
    width: 20px !important;
    text-align: right;
    outline: none !important;
    padding: 0 !important;
    margin: -10px 0 0 auto !important;
    background: transparent;
    border: none !important;
    color: white;
    display: block;
}