html {
    min-width: 800px;
}

body {
    padding-top: 3rem;
}

title {
    display: inline-block
}

textarea {
    height: 150px;
    width: 100%;
}

#input {
    min-height: 300px;
    overflow: auto;
    resize: horizontal;
}

#output {
    max-height: 300px;
    overflow: auto;
}

.turtle-inventory {
    width: 216px;
    margin: 20px;
}

.inventory-slot {
    padding: 2px;
    border: 3px solid #e0e0e0;
    display: inline-block;
    background-color: #c6c6c6;
    width: 54px;
}

.inventory-slot-image {
    margin: auto;
    width: 32px;
    height: 32px;
}

.inventory-slot-count {
    font-family: monospace;
    font-size: 18px;
    height: 22px;
    width: 20px;
    text-align: right;
    outline: none;
    padding: 0;
    margin-left: auto;
    background: transparent;
    border: none;
    color: white;
    display: block;
}