html {
    min-width: 800px;
}

body {
    padding-top: 3rem;
}

title {
    display: inline-block
}

textarea {
    height: 150px;
    width: 100%;
}

#output {
    height: 300px;
    overflow: scroll;
}

.turtle-inventory {
    width: 168px;
    margin: 20px;
}

.inventory-slot {
    padding: 2px;
    border: 3px solid #e0e0e0;
    display: inline-block;
    background-color: #c6c6c6;
}

.inventory-slot-image {
    width: 32px;
    height: 32px;
}

.inventory-slot-count {
    font-family: monospace;
    font-size: 18px;
    height: 22px;
    width: 20px;
    text-align: right;
    outline: none;
    padding: 0;
    margin: auto;
    margin-top: auto;
    background: transparent;
    border: none;
    color: white;
    display: block;
}

span {
    font-size: 18px;
    font-family: monospace !important;
}